body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/glassesImage/bg-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
}

.content__info {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 27px;
  width: 40%;
  box-shadow: 4px 4px 6px white;
  min-height: 340px;
}

.content__info h2 {
  font-size: 2vw;
  margin-bottom: 20px;
  color: #ffb142;
  border-bottom: 2px solid #cc8e35;
  padding: 5px;
}

.content__info table tbody tr td:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
  color: #ffda79;
}

.content__image img:nth-child(1) {
  width: 60%;
}

.content__image img:nth-child(2) {
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translateX(-50%);
  width: 34%;
}

.glasses__item {
  transition: all 0.5s;
  cursor: pointer;
}

.glasses__item.active {
  box-shadow: 2px 2px 5px black;
  background-color: #ff6b81 !important;
  border-color: #ff6b81 !important;
}

.glasses__item:hover {
  box-shadow: 2px 2px 5px black;
  background-color: #ff6b81 !important;
  border-color: #ff6b81 !important;
}
